.vs/
_deps/
CMakeFiles/
example/
tiny-process-library/x64/
tiny-process-library/tiny-process-library.dir/
tiny-process-library/tests/tpl_open_close_test.dir/
tool/cppast_tool.dir/
x64/
tiny-process-library/tests/tpl_multithread_test.dir/
tiny-process-library/tests/
test/cppast_test.dir/
src/cppast.dir/
external/tpl/tiny-process-library.dir/
tool/Debug/
tool/Release/
test/Debug/
test/Release/
src/Debug/
src/Release/
